// boas práticas: - ou _

$width: 100%;
$font-size: 1.2rem;
$background: #962acd;
$color: #fff;
$border-style: solid 1px $color;
nav {
    background: $background;
    color: $color;
    width: $width;
    font-size: $font-size;
}

// numericas

$width-rem: 3.5rem;
$width-px: 300px;
$width: 300;

aside {
    width: $width-px;
}

// strings

$font: 'lucia grande';
$weight: bold;

section {
    font-family: $font;
    font-weight: $weight;
}

// cores 

$bg: red;
$bg-section: rgba(0, 0, 0, 0.7);
$font-color: #ffffff;

body {
    background: $bg;
    color: $font-color;
}

section {
    background: $bg-section;
    margin: $margin;
}

// variables - boolean e null

$color-light: false;
$color-dark: true;
$color-dark: null;

// variaveis - listas

$animals: puma, sea-slug, egret, salamander;
$animals: puma sea-slug egret salamander;
$animals: "puma", "sea-slug", "egret", "salamander";

$margin: 10px 20px 15px 20px;

// variaveis - maps

$socical: (
    facebook: #3b5998,
    flickr: #0063db,
    github: #4183c4,
    googleplus: #dd4b39,
    instagram: #517fa4,
    linkdin: #007bb6,
    pinterest: #cb2027,
    soundclound: #f60,
    twitter: #00aced,
    youtube: #b00
);